<div
  class=" md:h-full md:w-full" >
  @for (item of Preguntas; track item.id) {
  <div
    class="mb-3 relative bg-[rgba(14,20,48,0.56)] backdrop-blur-md border border-blue-200/40 rounded-2xl text-white font-medium shadow-[0_10px_25px_rgba(0,0,0,0.15)] hover:bg-blue-500/20 transition"
  >
    <!-- Contenedor fijo -->
    <div class="flex pl-4 pt-2 h-full w-full overflow-hidden rounded-xl">
      <h2 class="text-xl text-blue-300">{{item.pregunta}}</h2>
    </div>
    <div class="pt-2 pl-4">
        <h3>{{item.respuesta}}</h3>
    </div>

    </div>
  }
</div>
